$button-icon-compile-once:false !default;
@mixin make-btn-icon{
.btn-icon{
	@extend %#{$fa-css-prefix};
}
// icon state
.btn-icon.icon-active{
	color:$product-color-blue;
}
.btn-icon.icon-disable{
	color:$color-line-rule;
}
.spinner{
	
	padding-left:$space-sm;
	&:before { content: $fa-var-spinner; }
	&.spin{
		&:before{
			display: inline-block;
			@extend .#{$fa-css-prefix}-spin;
		}
		
	}
}


.cart {

	&:before{
		content:$fa-var-shopping-cart;
	}
}
.caret-down {
	&:before {
		content:$fa-var-caret-down;
	}
}
.ellipsis-h{
	&:before{
		content:$fa-var-ellipsis-h;
	}
}
.plus {
	&:before{
		content:$fa-var-plus;
	}
}
.check-square{
	&:before{
		content: $fa-var-check-square;
	}
}
.minus-square{
	&:before{
		content: $fa-var-minus-square;
	}
}
.square-o{
	&:before{
		content: $fa-var-square-o;
	}
}
.align-left{
	&:before{
		content:$fa-var-align-left;
	}
}
.align-right{
	&:before{
		content: $fa-var-align-right;
	}
}
.align-center{
	&:before{
		content:$fa-var-align-center;
	}
}
.align-justify{
	&:before{
		content:$fa-var-align-justify;
	}
}
.heart{
	&:before {
	 content: $fa-var-heart; 
	 }
}

}
@if $button-icon-compile-once == false {
	@include make-btn-icon;
}
$button-icon-compile-once:true;