$btn-radius:2px !default;
$btn-border-width:1px !default;
$caret-size:8px !default;
$btn-link-large-width:180px !default;
$button-compile-once:false !default;
@mixin make-button-style(){
button{
	border:none;
	font-family:$font-family-sans-serif ;

}
.btn{

	padding:$space-base $space-md;
	border-radius:$btn-radius;
	border:solid $btn-border-width transparent;

	font-size:$font-size-base;
	line-height:$font-size-base;
	&:hover {
		cursor: pointer;
	}
	outline:none;

}
.btn-primary{
	background-color:$product-color-blue;
	color:#fff;
}
.btn-secondary{
	background-color:#fff;
	border-color: $color-line-rule;
	color:$product-color-blue;
}
.btn-primary{
	&.btn-hover:hover{
	background-color:lighten($product-color-blue,10%);
	}
}
.btn-secondary{
	&.btn-hover:hover{
		background-color:$bg-color-blue;
	}
}
.btn.btn-disable{
	background-color:$color-line-rule;
	color:#fff;
	border:none;
	cursor: not-allowed ;
}

.btn.btn-focus{
	box-shadow:0 0 $space-sm $product-color-blue;
}
.btn-active{
	&.btn-secondary{
		box-shadow:inset 0 0 $space-sm darken($bg-color-blue,10%);
		background:linear-gradient(to bottom,darken($bg-color-blue,10%) ,$bg-color-blue $space-sm,$bg-color-blue );
	}
	&.btn-primary{
		box-shadow:inset 0 0 $space-sm darken($product-color-blue,10%);
		background:linear-gradient(to bottom,darken($product-color-blue,10%) ,$product-color-blue $space-sm , $product-color-blue);
	}
}
.btn-group{
	@include clearfix;
	margin-top:$space-base;
	&:first-of-type{
		margin-top:0;
	}
	.btn{

		float:left;
		box-sizing:border-box;
		border-radius:0;
		// border-left-style:none;
		border-right-style:none;	
		&:first-of-type{
			border-left-style:solid ;
			border-top-left-radius:$btn-radius;
			border-bottom-left-radius:$btn-radius;
		}
		&:last-of-type{
			border-right-style:solid;
			border-top-right-radius:$btn-radius;
			border-bottom-right-radius:$btn-radius;
		}
		
	}
	.btn-primary{
		&:hover{
			background-color:transparentize($product-color-blue,0.2);
		}
		&.btn-active:hover{
			background-color:transparent;
		}
	}
	.btn-secondary{
		&:hover{
			background-color:$bg-color-blue;
		}
		&.btn-active:hover{
			background-color:transparent;
		}
	}
}
.btn-circle{
	@include draw-circle($space-lg);
	padding:0;
}
.btn-label{
	.btn{
		line-height: $font-size-base;
		font-size:$font-size-base;
	}
	.btn-icon{
		padding-right:$space-sm;
	}
	.label{
		display: block;

		padding:$space-base $space-base;
		border-color: $color-line-rule;
	}
	.label-right-caret{
		@include draw-caret('right',$caret-size);
		position: relative;
		&:after{
			@include center-vertical-abs(null);
			left: 100%;
			border-left-color:#fff;

		}
	}
	.label-left-caret{
		@include draw-caret('left',$caret-size);
		position: relative;
		&:after{
			@include center-vertical-abs(null);
			right: 100%;
			border-right-color:#fff;

		}		
	}
}

.btn-large{
	padding-left:$space-lg;
	padding-right:$space-lg;
}


.btn-link{
	display:block;
	padding-left:0;
	padding-right:0;
	text-align:center;
	color:$product-color-blue;
	text-decoration:none;
	border-radius:$btn-radius;
	&:hover{
		border:solid 1px $product-color-blue;
		background-color:$bg-color-blue;
	}
}
.btn-group {
	$btn-link-count:3 !default;
	.btn-link{
		@include split-into-cols($btn-link-count);
		border-right: solid 1px $color-line-rule;
		&:last-child{
			border-right-color:transparent;
		}
		&:hover{
			border-right-color:$product-color-blue
		}
	}
}

.btn-link-large{

	width:$btn-link-large-width;
	padding-left:$space-normal;
	padding-right:$space-normal;
	[class^="btn-"]{
		display: block;
		padding-top:$space-base;
	}
	.btn-header{
		color:$color-label;
		font-size:$font-size-xlg;
	}
	&:hover{
		.btn-header{
			color:$product-color-blue;
		}
	}
	.btn-header-name{
		color:$color-font;
	}
	.btn-body{
		padding-top:$space-normal;
		padding-bottom:$space-normal;
		line-height: 1.5;
		color:$color-label;
	}
}
}
@if $button-compile-once == false {
	@include make-button-style;
}
$button-compile-once:true;