$caret-size:8px !default;
$btn-radius:2px !default;
$btn-dropdown-compile-once:false !default;
$icon-size:20px;
$sm-icon-size:$font-size-base;
@mixin make-btn-dropdown-style(){
%btn-dropdown{
	display:table;
	position: relative;
	.btn-primary{
		border-right:solid 1px darken($product-color-blue,10%);
	}
	.btn-primary:last-of-type{
		// padding :$space-sm;
		border-right:none;
		padding:$space-base $space-normal;
	}
	.btn-secondary{
		color:$color-label;
		padding-left:$space-normal;
		padding-right:$space-normal;
	}
	
	.btn-icon{

		&.stick-right{
			float:right;
			padding-left:$space-base;
		}
		&.stick-left{
			float:left;
			padding-right:$space-base;
		}
	}


}
.btn-dropdown{
	@extend %btn-dropdown;
	
}
.circle-btn-dropdown{
	@extend %btn-dropdown;
	.btn-secondary.btn-circle{
		// overwrite rules in `.btn-group .btn:last-of-type` & `.btn-group .btn:first-of-type`
		@include draw-circle($space-lg);
		// overwrite rules in `%btn-dropdown .btn-secondary`
		padding:0;
	}
}

.multi-dropdown{
	@extend %btn-dropdown;
	
	.square-o{

		color:$color-label;
	}
	.plus,.check-square,.minus-square,.square-o{
		font-size:$icon-size;
	}
	.drop-btn-text{
		padding-left:$space-base;
		padding-right:$space-base;
	}
	.btn-secondary>span{
		vertical-align: middle;
	}
}
.plus-dropdown{
	@extend %btn-dropdown;
	.plus{
		font-size:$sm-icon-size;
		color:$product-color-blue;
	}
}
// default dropdown list
%dropdown-list{
	$droplist-padding:2px;
	// @include make-droplist-layout($space-md,$space-base);
	z-index:1;
	top:100%;
	right: 0;
	background-color:#fff;
	margin-top:$droplist-padding;
	border:solid 1px $color-line-rule;
	border-radius:$btn-radius;
	
	box-shadow:0 $space-sm / 2 $space-sm  $color-line-rule;
}
.default-dropdown-list{
	@include make-droplist-layout($space-md,$space-base);
	@extend %dropdown-list;
	li{
		cursor: pointer;
		&:hover{
			background-color:$bg-color-blue;
		}
	}
}
.multi-dropdown-list{
	@include make-droplist-layout($space-normal,$space-base);
	@extend %dropdown-list;
	$dropdown-list-width:460px;
	width:$dropdown-list-width;
	left:0;
	li{
		border-bottom:solid 1px $color-line-rule;
		cursor: pointer;
		&:hover{
			background-color:$bg-color-blue;
		}
	}
	header{
		span{
			vertical-align: middle;
		}
	}
	div{
		&:before{
			content:$fa-var-check-square;
			visibility: hidden;
			font-size:$icon-size;
			padding-right:$space-base;
			float:left;
			font-family: 'FontAwesome';
		}
	}
	.item-body{
		color:$color-label;
		margin:0;
		overflow: hidden;
		// box-sizing: border-box;

	}
	.btn-icon{
		padding-right:$space-base;
	}

}
.plus-dropdown-list{
	position: absolute;
	@extend %dropdown-list;
	min-width:250px;
	.btn-icon{
		padding-right:$space-sm;
	}
	span{
		vertical-align: middle;
	}
	li{
		@include clearfix;
	}
	.check-item{
		// display: inline-block;
		min-width: 150px;
		padding-left:$space-normal;
		padding-right:$space-normal;
		padding-top:$space-base;
		padding-bottom:$space-base;
		&:hover{
			cursor: pointer;
			background-color:$bg-color-blue;
		}

	}
	.item-value{
		padding-left:$space-normal;
		padding-right:$space-normal;
		border-left:solid 1px $color-line-rule;
		background-color:$bg-color-green;
	}
	.square-o{
		color:$color-label;
	}
	.plus,.check-square,.minus-square,.square-o{
		font-size:$icon-size;
	}

}

}
@if $btn-dropdown-compile-once == false {
	@include make-btn-dropdown-style;
}
$btn-dropdown-compile-once:true;

