//fonts

$font-family-sans-serif:  "Nunito Sans","Helvetica Neue",Microsoft YaHei, Helvetica, sans-serif !default;
$font-family-serif:       Georgia, "Times New Roman", Times, serif !default;

// primary color

$product-color-blue: 	  #2C9FDD !default;
$product-color-green:     #4AC291 !default; 
$product-color-purple:    #9C27B0 !default;
$product-color-yellow:    #FEB909 !default;

$color-font:			  #4C596B !default;
$color-label:			  #8C8C8C !default;
$color-line-rule:		  #E2E6E6 !default;

$bg-color-blue:			  rgba( 44, 159, 221 , 0.1)	 !default;
$bg-color-blue-active:	  darken($bg-color-blue,10%) !default;	  
$bg-color-green:		  rgba( 74, 194, 145 , 0.1)	 !default;	  
$bg-color-green-active:	  darken($bg-color-green,10%) !default;
$bg-color-purple:		  rgba( 156, 39, 176 , 0.1) !default;
$bg-color-purple-active:  darken($bg-color-purple,10%) !default;
$bg-color-yellow:		  rgba( 254, 185, 9 , 0.1) !default;
$bg-color-yellow-active:  darken($bg-color-yellow,10%) !default;		

$alert-color-success: 	  #7CB342 !default;
$alert-color-error: 	  #E53935 !default;
$alert-color-warnning: 	  #FFB330 !default;
$alert-color-info: 	  	  #1E88E5 !default;


// typography
$font-size-sm:			  12px !default;
$line-height-sm:		  18px !default;

$font-size-base:          14px !default;
$line-height-base:        22px !default;

$font-size-normal:		  16px !default;
$line-height-normal: 	  26px !default;

$font-size-lg:            24px !default;
$line-height-lg:		  36px !default;

$font-size-xlg:           30px !default;
$line-height-xlg:    	  48px !default;



// spacing
// small spacing 
$space-sm:				  6px  !default;
$space-base:			  12px !default;
$space-normal:			  16px !default;
$space-md:				  24px !default;
$space-lg:				  36px !default;
$space-xlg:				  84px !default;


// mixins to generate grids
$cols:                    12 !default;
@import './mixin';
@mixin make-container{
	padding:0;
	margin:0 auto;

	padding-left:($space-base / 2);
	padding-right:($space-base / 2 ); 
}
@mixin make-rows{
	margin-left:-($space-base / 2);
	margin-right:-($space-base / 2);
	padding:0;
	@include clearfix;
}
@mixin make-cols($cols:$cols,$gutter:$space-sm){
	$selector-list:".cols-1";
	[class^="cols-"]{
		box-sizing:border-box;
		float:left;
	}
	.cols-1{
		width:100% / $cols;
	}
	@for $i from 2 through $cols{
		$selector-list:"#{$selector-list},.cols-#{$i}";
		.cols-#{$i} {
			width:$i * 100% / $cols;
		}
	}
	#{$selector-list}{
		padding-left:($gutter / 2);
		padding-right:($gutter / 2);

	}

}
@mixin reset-cols-gutter($gutter:$space-sm){
	padding-left:$gutter / 2;
	padding-right:$gutter / 2;
}
@mixin split-into-cols($cols:$cols){
	width:100% / $cols;
}
// 
// mixins to generate paragraph
@mixin make-paragraph($font-size:14px,$line-height:22px){
	font-size:$font-size;
	line-height:$line-height;
	margin-bottom:$line-height / 2;
}

// make dropdown list layout
//  must apply this mixin to `ul` or `ol` element
@mixin make-droplist-layout($hz-padding:$space-base,$v-padding:$space-sm){
	position: absolute;
	li{
		cursor: pointer;
		padding-top:$v-padding;
		padding-bottom:$v-padding;
		padding-left:$hz-padding;
		padding-right:$hz-padding;
	}
}

// mixins to center elements
// width must be set manually
@mixin center-horizontal($ele){
	@if($ele){
		#{$ele}{
			margin:0 auto;
		}
	}@else{
		margin:0 auto;
	}
}
// parent  must be set 'position:relative' manually
@mixin center-vertical-abs($ele){
	$selector-name:'';
	@if($ele){
		$selector-name:$ele;
	}@else{
		$selector-name:'&';
	}
	#{$selector-name}{
		position:absolute;
		top:0;
		bottom:0;
		margin:auto 0;
	}
}

// draw caret

@mixin draw-caret($dir:'down',$size:5px,$ele:'after'){
	$selector-name:'';
	@if($ele == 'after' or $ele == 'before'){
		$selector-name:'&:#{$ele}';
		#{$selector-name}{
			content:'';
		}
	}@else {
		$selector-name:'#{$ele}'
	}
	#{$selector-name}{
		display: block;
		border:solid $size ;
	
		width: 0;
		height: 0;
		
	}
	@if($dir == 'up'){
		#{$selector-name}{
			border:{
				top:none;
				left-color:transparent;
				right-color:transparent;

			}
		}
	}
	@if($dir == 'down'){
		#{$selector-name}{
			border:{
				bottom:none;
				left-color:transparent;
				right-color:transparent;
			}
		}
	}
	@if($dir == 'left'){
		#{$selector-name}{
			border:{
				left:none;
				top-color:transparent;
				bottom-color:transparent;
			}
		}
	}
	@if($dir == 'right'){
		#{$selector-name}{
			border:{
				right:none;
				top-color:transparent;
				bottom-color:transparent;
			}
		}
	}
}

// draw circle 
// make an element to be circular
@mixin draw-circle($radius-size){
	border-radius:50%;
	width:$radius-size;
	height:$radius-size;
}

