#intro{
		p{
			@include make-paragraph();
		}
		
		// display:inline-block;
		float: left;
		width:calc(100% - 300px - #{$space-md});
		.intro-inner{
			@include clearfix;
			display: table;
			margin-left: auto;
			margin-right: auto;
		}
		.intro-body{
			padding-left:$space-lg;
			padding-right:$space-lg;	
			float:left;
			width: 70%;
			box-sizing:border-box;
		}
		.main-intro{
		}
		.detail{
			// @include clearfix; 

			// height:5000px;

		}
		.title{
			font-weight: bold;
			font-size:$font-size-xlg;
			line-height:$line-height-xlg;
			margin-top:$space-lg;
			
			border-bottom:solid 1px $color-line-rule;			
		}
		.sub-title{
			font-weight: bold;
			font-size:$font-size-lg;
			line-height:$line-height-lg;		
		}

	}
	.container {
			@include make-container;
	}
	.row{
		margin-top:$space-lg;
		@include make-rows;
		&:last-of-type{
			margin-bottom: $space-lg;
		}
	}
	@include make-cols;
	[class^="cols-"]:first-child{
		line-height: $font-size-normal;

		padding-left:$space-xlg;
		padding-top:$space-base;
		padding-bottom:$space-base;
	}
	.outer-link{
		
		padding-left:$space-sm;
		color:$product-color-blue;
		&:last-of-type{
			padding-right:$space-sm;
		}
		&:hover,&:active{
			color:darken($product-color-blue,10%);
			text-decoration: underline;
		}
	}
	code{
		color:$product-color-yellow;
		background-color: $bg-color-yellow-active;
		vertical-align: middle;
		padding-left:$space-sm;
		padding-right:$space-sm;
	}
